# 52336424 is the project number in GitLab for freitag.theme24 repository
@der-freitag:registry=https://gitlab.com/api/v4/projects/52336424/packages/npm/
//gitlab.com/api/v4/projects/52336424/packages/npm/:_authToken="${NPM_TOKEN}"
